@{
    Layout = "_DatabaseLayout";
}
@model List<EngineerDto>
@inject IService<EngineerType> engTypeService
@inject EngineerService engService
@inject IMapper mapper
@{
    var types = engTypeService.GetAll().Select(type => mapper.Map<EngineerTypeDto>(type)).ToList();
    var headersId = engService.GetHeadEngineers().Select(e => e.Id).ToList();
}

<div class="recent_payments">
    <div class="title">
        <h2>Engineers</h2>
        <div class="action">
            <button><a asp-controller="Admin" asp-action="@nameof(AdminController.Register)">Add</a></button>
        </div>
    </div>
    <table>
        <tr>
            <th class="eng_th">Id</th>
            <th class="eng_th">UserName</th>
            <th class="eng_th">Name</th>
            <th class="eng_th">Phone</th>
            <th class="eng_th">Salary ($)</th>
            <th class="eng_th">Engineer Type</th>
            <th class="eng_th">Head Engineer</th>
            <th class="eng_th"></th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr id="tr@(i)">
                <td class="eng_td" data-key="Id">@Model[i].Id</td>
                <td class="eng_td" data-key="UserName">@Model[i].UserName</td>
                <td class="eng_td" data-key="Name">@Model[i].Name</td>
                <td class="eng_td" data-key="Phone">@Model[i].Phone</td>
                <td class="eng_td" data-key="Salary">@Model[i].Salary</td>

                <td class="eng_td" data-key="EngineerTypeId" style="display: none">@Model[i].EngineerType.Id</td>
                <td class="eng_td" data-key="none">@Model[i].EngineerType.Name</td>

                <td class="eng_td" data-key="HeadEngineerId">@(Model[i].HeadEngineerId)</td>
                <td class="eng_td">
                    <div class="icon">
                        <span onclick="fillEditInfo('tr@(i)')" class="material-symbols-outlined" data-bs-toggle="modal" data-bs-target="#engineer-edit">surgical</span>
                        <span class="material-symbols-outlined" onclick="deleteRecord('tr@(i)')">delete</span>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<!-- start EDIT Engineer -->
<div class="modal fade" id="engineer-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-10" id="exampleModalLabel">Edit Engineer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="">
                        <div class="main-user-info">
                            <div class="row1">
                                <div class="user-input-box">
                                    <label style="color: black;">Id:</label>
                                    <input type="text" name="Id" value="0" readonly/>
                                </div>
                                <div class="user-input-box">
                                    <label style="color: black;">UserName:</label>
                                    <input type="text" name="UserName" pattern=".+_(Admin|Executive)" placeholder="example_Admin/Executive" required/>
                                </div>
                                <div class="user-input-box">
                                    <label style="color: black;">Name:</label>
                                    <input type="text" name="Name" required/>
                                </div>
                                <div class="user-input-box">
                                    <label style="color: black;">Phone:</label>
                                    <input type="tel" name="Phone" pattern="[+][9][6][3][9][0-9]{8}" placeholder="+963900000000" required />
                                </div>
                            </div>
                            <div class="row2">
                                <div class="user-input-box">
                                    <label style="color: black;">Salary:</label>
                                    <input type="number" min="0" name="Salary" required/>
                                </div>
                                <div class="user-input-box">
                                    <label style="color: black;">Engineer Type:</label>
                                    <select required name="EngineerTypeId">
                                        @foreach (var item in types)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="user-input-box">
                                    <label style="color: black;">Head Engineer:</label>
                                    <select required name="HeadEngineerId">
                                        @foreach (var item in headersId)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                        <option value="null">None</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="send"><input type="submit" value="Edit"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end EDIT Engineer -->

<script>
    function fillEditInfo(trId) {
        let cells = document.getElementById(trId).querySelectorAll('td');
        let data = {};

        cells.forEach(cell => {
            let key = cell.getAttribute('data-key');
            if (key !== 'none') {
                data[key] = cell.textContent;
            }
        });

        document.querySelector('#engineer-edit [name="Id"]').value = data.Id;
        document.querySelector('#engineer-edit [name="UserName"]').value = data.UserName;
        document.querySelector('#engineer-edit [name="Name"]').value = data.Name;
        document.querySelector('#engineer-edit [name="Phone"]').value = data.Phone;
        document.querySelector('#engineer-edit [name="Salary"]').value = data.Salary;
        document.querySelector('#engineer-edit [name="EngineerTypeId"]').value = data.EngineerTypeId;
        document.querySelector('#engineer-edit [name="HeadEngineerId"]').value = data.HeadEngineerId;
    }

    function deleteRecord(trId) {
        let cells = document.getElementById(trId).querySelectorAll('td');
        let data = {};

        cells.forEach(cell => {
            let key = cell.getAttribute('data-key');
            if (key !== 'none') {
                data[key] = cell.textContent;
            }
        });
        data.key = "Engineer";

        fetch('/database/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => response.text())
            .then(data => {
                if (data === 'true') {
                    location.reload();
                }
            });
    }

    document.querySelector('form').addEventListener('submit', event => {
        event.preventDefault();
        let form = document.querySelector('form');
        let formData = {};

        formData.Id = form.elements['Id'].value;
        formData.UserName = form.elements['UserName'].value;
        formData.Name = form.elements['Name'].value;
        formData.Phone = form.elements['Phone'].value;
        formData.Salary = form.elements['Salary'].value;
        formData.EngineerTypeId = form.elements['EngineerTypeId'].value;
        formData.HeadEngineerId = form.elements['HeadEngineerId'].value;
        formData.key = 'Engineer';

        fetch('/database/edit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => response.text())
            .then(data => {
                if (data === 'true') {
                    location.reload();
                }
            });
    });
</script>