@model List<OrderDto>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pending</title>

    <link rel="stylesheet" href="~/css/buyer/buyer-style.css" />
</head>

<body class="">
    <div class="container">
        <ul class="status">
            <div class="first-li">
                <select id="mySelect">
                    <option value="none" selected>Choose an Order</option>
                    @{
                        int i = 0;
                    }

                    @foreach (var order in Model)
                    {
                        <option value="table@(i + 1)" data-order-id="@order.Id" style="font-weight: @(!order.ClickedByBuyer ? "bold" : "")">
                            Order@(i + 1)
                        </option>
                        i++;
                    }
                </select>
                <span>@(Model.Where(o => !o.ClickedByBuyer).Count())</span>
            </div>
            <li class="active" data-state="wait">Waiting</li>
            <li data-state="excute">
                <a asp-action="ShowUnderwayOrders" style="text-decoration: none">
                    Underway
                </a>
            </li>
        </ul>
        <div class="table wait">
            <table>
                <thead>
                    <tr>
                        <td>Item Name</td>
                        <td>Quantity</td>
                        <td>Delivery Date</td>
                        <td>Message</td>
                    </tr>
                </thead>
                @for (i = 0; i < Model.Count; i++)
                {
                    <tbody class="table@(i + 1)" style="display: none">
                        @foreach (var item in Model[i].OrderDetails)
                        {
                            <tr>
                                <td>@item.Item.Name</td>
                                <td>@item.Kilos</td>
                                <td>@item.DeliveryDate</td>
                                <td>@(item.Feedback ?? "")</td>
                            </tr>
                        }
                    </tbody>@* 
                    <tfoot class="table@(i + 1)" style="display: none">
                        <tr>
                            <td>
                                <a asp-action="CreateOrder" asp-route-orderId="@(Model[i].Id)">
                                    <img class="active" src="~/images/buyer/edit.png" alt="edit" />
                                </a>
                            </td>
                        </tr>
                    </tfoot> *@
                }
            </table>
            @foreach (var order in Model)
            {
                <div class="tfoot" style="display: none">
                    <a asp-action="CreateOrder" asp-route-orderId="@(order.Id)">
                        <div class="edit">
                            <button class="edit_b">Edit</button>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

    <script src="~/js/buyer/show_orders.js"></script>
</body>
</html>
