@model List<OrderDto>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="~/css/buyer/buyer-style.css" />
    
    <title>Pending</title>
</head>

<body class="">
    <div class="container">
        <div class="arrow_back">
            <a asp-action="CreateOrder">
                <span class="material-symbols-outlined">
                    arrow_back
                </span>
            </a>
        </div>
        <ul class="status">
            <div class="first-li">
                <select id="mySelect">
                    <option value="none" selected>Choose an Order</option>
                    @{
                        int i = 0;
                    }

                    @foreach (var order in Model)
                    {
                        <option value="table@(i + 1)" data-order-id="@order.Id" style="font-weight: @(!order.ClickedByBuyer ? "bold" : "")">
                            Order@(i + 1)
                        </option>
                        i++;
                    }
                </select>
                <span>@(Model.Where(o => !o.ClickedByBuyer).Count())</span>
            </div>

            <li class="active" data-state="wait">Pending</li>
            <li data-state="excute">
                <a asp-action="ShowUnderwayOrders" style="text-decoration: none">
                    Underway
                </a>
            </li>
        </ul>

        <div class="table wait">
            <table>
                <thead>
                    <tr>
                        <td>Item Name</td>
                        <td>Quantity</td>
                        <td>Delivery Date</td>
                        <td>Message</td>
                    </tr>
                </thead>
                @for (i = 0; i < Model.Count; i++)
                {
                    <tbody class="table@(i + 1)" style="display: none">
                        @foreach (var item in Model[i].OrderDetails)
                        {
                            <tr>
                                <td>@item.Item.Name</td>
                                <td>@item.Kilos</td>
                                <td>@item.DeliveryDate</td>
                                <td>@(item.Feedback ?? "")</td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
            @foreach (var order in Model)
            {
                <div class="tfoot" style="display: none">
                    @if(order.OrderDetails.Where(oD => oD.Feedback != null && oD.Feedback.Length > 0).Any())
                    {
                        <a asp-action="CreateOrder" asp-route-orderId="@(order.Id)">
                            <div class="edit">
                                <button class="edit_b">Edit</button>
                            </div>
                        </a>
                    }
                </div>
            }
        </div>
    </div>

    <script src="~/js/buyer/show_orders.js"></script>
</body>
</html>
