@model List<PlanDto>
@{
    int i = 1, j = 1;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lands</title>
    <link rel="stylesheet" href="~/css/farmer/show_plans.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css">
</head>

<body class="">
    <nav>
        <ul>
            <li> <a asp-action="ShowPlans"><img src="~/images/farmer/home.svg" alt=""></a></li>
            <li><a asp-action="ShowPurchases"><img src="~/images/farmer/purchases.png" alt=""></a></li>
        </ul>
    </nav>

    <div class="container">
        <header>
            <h1>Farmer #@ViewBag.farmerId</h1>
        </header>

        <div class="list">
            @foreach (var plan in Model)
            {
                <div class="item">
                    <div class="details" id="@i">
                        <div class="top-title">Land @i</div>
                        <div class="title">Location: <span>@plan.Land.Location</span></div>
                        <div class="title">Area: <span>@plan.Land.Area</span> ha</div>
                        <div class="title">Date of the beginning: <span>@plan.StartDate</span></div>
                        <div class="title">Date of the end: <span>@plan.FinishDate</span> </div>
                        <div class="title">
                            Expected Amount of Crops: <span>@plan.Quantity</span> <span> kg of @* @plan.OrderDetailDto.Item.Name *@</span>
                        </div>
                    </div>

                    <div class="d-flex">
                        <button type="button" onclick="generateCode(@plan.Id, @ViewBag.farmerId, @i)" style="width: 40%">
                            Generate Code
                        </button>
                        <input class="input@(i)" disabled style="width: 60%; margin-left:10px; font-size:large"/>
                    </div>

                    <div class="plan-@i plan" id="@i">
                        @foreach (var step in plan.Steps)
                        {
                            <div class="seconde-kind kind">
                                <h1>@(j++)</h1>
                                <p>@step.Action.Name</p>
                                <div class="title">
                                    Starting By: <span>@step.EstimatedStartDate</span>
                                </div>
                                <div class="title">
                                    Finishing By: <span>@step.EstimatedFinishDate</span>
                                </div>
                                <div class="title">Use the following requirements<br /></div>
                                @foreach (var stepDetails in step.StepDetails)
                                {
                                    <div class="title">
                                        @stepDetails.AgriculturalItem.Name<span>@stepDetails.Quantity</span> KG
                                    </div>
                                }
                                @if (step.IsChecked)
                                {
                                    <input type="checkbox" class="class@(i)" id="@step.Id" checked>
                                }
                                else
                                {
                                    <input type="checkbox" class="class@(i)" id="@step.Id">
                                }
                            </div>

                        }
                    </div>
                </div>

                j = 1;
                i++;
            }
        </div>
    </div>
    <script src="~/js/farmer/farmer.js"></script>
    <script>
        function generateCode(planId, farmerId, i) {
            let options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ planId: planId, farmerId: farmerId })
            };
            fetch('farmer/GenerateCode', options)
                .then(response => response.text())
                .then(text => {
                    document.querySelector(`.input${i}`).value = `${text}`;
                });
        }
    </script>
</body>

</html>
